body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 80vw;
  height: auto;
}

.edits {
  flex: auto;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100px;
  background-color: red;
}

.grid {
  width: 55vw;
}

.cols {
  height: auto;
  width: 50px;
  border: 1px solid black;
}
.rows {
  border: 1px solid gray;
  width: 300px;
  min-height: 20px;
  display: flex;
}
